.screen {
    font-family: monospace;
    font-size: 1em;
    display: block;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
    color: #000;   
    overflow: auto;
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    margin: 0.5em 4em 0.5em 4em;
}

.programlisting {
    font-family: monospace;
    font-size: 1em;
    display: block;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #ddd;
    color: #000;   
    overflow: auto;
    border-radius: 2.5px;
    -moz-border-radius: 2.5px;
    margin: 0.5em 4em 0.5em 4em;
}

.calloutlist table {
    margin: 0.5em 4em;
}

.calloutlist table td {
    width: auto;
}

.calloutlist table p {
    margin: 0.25em 0;
    padding-right: 1em;
}
